  <div id="restaurants" style='height: 400px;'>
    <% if @restaurants.empty? %>
      <%= image_tag("jesse.jpg", :alt => "There are no restaurants fitting your search criteria. Please widen your search.") %>
    <% else %>
      <% @restaurants.each do |restaurant| %>
        <%= image_tag restaurant.image_url %>
        <p><strong><%= restaurant.name %></strong><p>
        <p>rating: <%= restaurant.rating %> 
        <%= image_tag restaurant.rating_img_url %></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.distance %> miles </p>
         <p>latitude:<%= restaurant.latitude %>longitude:<%= restaurant.longitude %></p>
        <p><%= link_to restaurant.url %></p>
      <% end %>
    
    <% end %>
  </div>
