<!DOCTYPE html>
<html>
<head>
  <title>Best Stop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<div class="item background-cover" style="background: url(http://31.media.tumblr.com/47d8817227b81bc6cae25e59dc3804d7/tumblr_n8gyvzQtkD1st5lhmo1_1280.jpg);">

  <div class="navbar-wrapper cbp-af-header">
    <div class="navbar cbp-af-inner" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <h1><a class="navbar-brand scroll" href="/" id="nav-best">Best Stop</a></h1>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#" id="nav-rest">The Anti-Rest Stop</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

  <%= yield %>

  </div>

</div>

  <div class="footer">
    Made by <a href="https://github.com/vanessadean" target="blank">Vanessa Dean</a>, <a href="https://github.com/kriscroes" target="blank">Kris Croes</a>, and <a href="https://github.com/ccmeyers" target="blank">Catherine Meyers</a> at <a href="http://flatironschool.com/" target="blank">The Flatiron School</a>
  </div>

</body>
</html>

