<!DOCTYPE html>
<html>
<head>
  <title>BestStopV2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<div class="item background-cover" style="background: url(http://31.media.tumblr.com/47d8817227b81bc6cae25e59dc3804d7/tumblr_n8gyvzQtkD1st5lhmo1_1280.jpg);">

  <div class="navbar-wrapper cbp-af-header">
    <div class="container">
      <div class="navbar cbp-af-inner" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <h1><a class="navbar-brand scroll" href="#intro" id="nav-best">Best Stop</a></h1>
          </div>
          
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#" id="nav-rest">The Anti-Rest Stop</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>

</div>

</body>
</html>

